@model QLKTX.Models.EF.NhanVien
@{
    ViewBag.Title = "Thêm mới nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin" class="nav-link">Home</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/nv" class="nav-link">Nhân Viên</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">Thêm mới</a>
        </li>
    </ul>

}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Thêm mới nhân viên</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Nhan Vien</a></li>
                    <li class="breadcrumb-item active">Thêm mới</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thêm mới thông tin nhân viên</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper-content">
                @using (Html.BeginForm("Add", "NV", FormMethod.Post, new { }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <!-- your steps content here -->
                    <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                        <div class="form-group">
                            <label for="exampleInputMaNV">Mã NV </label>
                            @Html.TextBoxFor(x => x.MaNV, new { @class = "form-control", @placeholder = "MANV" })
                            @Html.ValidationMessageFor(x => x.MaNV, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputHoTenNV">Họ Tên</label>
                            @Html.TextBoxFor(x => x.HoTenNV, new { @class = "form-control", @placeholder = "Họ Tên" })
                            @Html.ValidationMessageFor(x => x.HoTenNV, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputDiaChi">Địa Chỉ</label>
                            @Html.TextBoxFor(x => x.DiaChi, new { @class = "form-control", @placeholder = "Địa Chỉ" })
                            @Html.ValidationMessageFor(x => x.DiaChi, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputSDT">SĐT</label>
                            @Html.TextBoxFor(x => x.SDT, new { @class = "form-control", @placeholder = "SĐT" })
                            @Html.ValidationMessageFor(x => x.SDT, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail">Email</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                            @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputCCCD">CCCD</label>
                            @Html.TextBoxFor(x => x.CCCD, new { @class = "form-control", @placeholder = "CCCD" })
                            @Html.ValidationMessageFor(x => x.CCCD, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputGioiTinh">Giới Tính</label>
                            @Html.TextBoxFor(x => x.GioiTinh, new { @class = "form-control", @placeholder = "Giới Tính" })
                            @Html.ValidationMessageFor(x => x.GioiTinh, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputNgaySinh">Ngày Sinh</label>
                            @Html.TextBoxFor(x => x.NgaySinh, new { @class = "form-control", @placeholder = "Ngày Sinh" })
                            @Html.ValidationMessageFor(x => x.NgaySinh, null, new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputChucVu">Chức Vụ</label>
                            @Html.TextBoxFor(x => x.ChucVu, new { @class = "form-control", @placeholder = "Chức Vụ" })
                            @Html.ValidationMessageFor(x => x.ChucVu, null, new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <a href="/admin/nv" class="btn btn-danger">Quay Lại</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                }


            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->